extends layout

block content
  h1= title
  - var sweets = results
  div(class="container-fluid mt-3")
  div(class="row")
    each element,l in results
        div(class="col-sm-4 bg-info m-1 p-3" onclick=`buy(${l})`) #{element.origin} - #{element.price} - #{element.quantity}
  script.
     
      function buy(p)
      {
        alert(`You purchased Item ${p+1}`)
      }
